<h1>About</h1>
<div class="w3-container w3-orange w3-text-purple">
  <h1>This Website is here for your benefit!</h1>
  <p>The Users tab is for you to enter your information so we have you in our database. This will be used to find your future orders and to further assist you.</p>
  <p>The Help tab explains what this site is all about.</p>
  <p>The Home tab shows you some of our exclusive content.</p>
</div>