<h1>Help</h1>
<div class="w3-panel w3-pale-red w3-leftbar w3-border-red">
  <p>All you have to do is go to the Users page, add your information, and then you're ready to explore the rest of the site and see our amazing content.</p>
</div>